.user_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    font-size: 18px;

}

.user_info span {
    display: flex;
    gap: 4px;
}

.user_info-data {
    color: rgb(243, 159, 159)
}

.connectWallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.textHeader{
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
}